.back {
    background: #3f1dcb57;
    margin-top: 60px;
    padding: 40px;
    border-radius: 5%;
}
#login-background {
    background-image:url("./Components/images/background.jpg");
    min-height: 100vh;
}
.tittle-login {
    color: #fff;
    text-align: center;
    padding-bottom: 10px;
}
.hr-design {
    background-color: #fff;
}