.menu {
    min-height: 100vh;
}

.div-logo {
    background-color: #fff8e1;
    min-height: 16vh;
}

.font-tittle {
    font-family: 'Anton', sans-serif;
    font-size: 27px;
}

.font {
    font-family: 'Anton', sans-serif;
}

.min-height {
    min-height: 30vh;
}

.perfil-foto{
    width: 50%;
    height: auto;
    padding-top: 25px;
    padding-bottom: 25px;
}

.newsletter {
    padding-top:4%;
    background-color: #f8f9fa!important;
}